@model IEnumerable<AnimalsEntity.Bird>

@{
    ViewBag.Title = "Birds";
}

    <p>
        @Ajax.ActionLink("Очистить список", "RemoveBirds", new AjaxOptions { OnSuccess = "OnSuccessRemoveBirds", HttpMethod = "Delete" })
    </p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTalking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eggs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTalking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eggs)
        </td>
       
    </tr>
}

</table>
