@using AnimalsEntity;
@model  AnimalsEntity.Mammal

@{
    ViewBag.Title = "Добавить млекопитающее";
}

<h2>@ViewBag.Title</h2>

<div>
   
    @using (Ajax.BeginForm("AddMammal", new AjaxOptions { OnSuccess = "OnSuccessAddMammal", HttpMethod = "Post" }))
    {
        <hr />
        <div class="form-group">
            @Html.Label("Наименование", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <p>
            <div class="form-group">
                @Html.Label("Температура тела", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Temperature, new { @class = "col-md-2 control-label" })
                </div>
            </div>
        </p>

        <p>
            <div class="form-group">
                @Html.Label("Животное умеет плавать?", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(m => m.IsSwimming, new { @class = "form-control" })
                </div>
            </div>
        </p>

        <p>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Добавить" />
                </div>
            </div>
        </p>
    }

    <p><h3>@ViewBag.Message</h3></p>
    <div id="mammal_result">
        @Ajax.ActionLink("Просмотреть список", "Mammals", new AjaxOptions { UpdateTargetId = "mammal_result", OnSuccess = "OnSuccessMammals", HttpMethod = "Get", InsertionMode = InsertionMode.Replace })
    </div>
</div>


